.container{
    height: 100vh;
    max-width: 992px;
    margin: 0 auto;
    padding: 2.5rem 2rem;
    display: flex;
    flex-direction: column;
}

.container section{
    flex: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6.25rem;
    align-content: center;
}
@media (max-width:750px){
    .container section{
        gap: 3rem;
    }
}

@media (max-width:650px){
    .container section{
        gap: 1rem;
    }
}

@media(max-width: 580px){
    .container section{
        display: flex;
        flex-direction: column;
    }
    .container section div {
        margin-top: 1rem;
    }
    .containerChallengeBox{
        margin-bottom: 3rem;
    }
}